.ollacart-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .modal-body {
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--bg);
    border: 5px solid var(--primary);

    .modal-header {
      position: relative;
      padding: 15px;
      min-height: 45px;
      border-bottom: 1px solid var(--fg-opacity);
      color: var(--fg);

      .close-button {
        position: absolute;
        right: 0;
        top: 0;
        color: var(--fg);
      }
    }
    
    .modal-container {
      position: relative;
      padding: 15px;
      min-width: 300px;

      .modal-content {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 70vh;
      }
    }
  }
}