#faq-container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
    .faq-img{
        position: absolute;
        width: 100%;
        height:100% ;
        img{
            object-fit: cover;
        width: 100%;
        height:100% ;
        }
    }
    .faq-main{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        z-index: 1;
        gap: 80px;
    padding: 112px 64px;

        .faq-content{
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 24px;
            max-width: 685px;
            h1{
                font-size: 56px;
                font-weight: 700;
                font-family: Oxanium;
                line-height: 120%;
                color: #FFFFFF;
            }
            span{
                color: #FFC827;
            }
            p{
                font-size: 16px;
                font-family: Almarai;
                line-height: 150%;
                color: #FFFFFF;
            }
        }
        .question-section{
            width: 100%;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #333732;
            border-bottom: 1px solid #333732;

        } 
        .faqitem {
            border-bottom: 1px solid #333732;
          
            &:last-child {
              border-bottom: none;
            }
        }
          
          .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color:#E5E6E5 ;
            font-family: chakra Petch;
            padding:  20px 0px;
            font-size: 20px;
            font-weight:500 ;
            cursor: pointer;
            background-color: transparent;
            border-radius: 4px;
          
            &:hover {
            //   background-color: #f1f1f1;
            }
            span{
                font-size:18px ;
                font-family: Oxanium;
                font-weight:700 ;
                color: #FFFFFF ;
                line-height: 150%;
            }
          }
          
          .answer {
            background-color:transparent;
            border-radius: 4px;
            color:#E8E8E8 ;
            padding:  20px 0px;
            font-size: 16px;
            font-family: Almarai;  
            transition: max-height 5s ease, padding 5s ease;
            max-width: 768px;
            line-height: 150%;
          }
          
          .icon {
            font-size: 18px;
            font-weight: bold;
          }
    }

}
@media screen and (max-width: 680px) {
    #faq-container{
        .faq-main{
            gap:48px !important ;
        padding: 64px 20px !important;

            .faq-content{
                h1{
                    font-size: 36px !important;
                }
            }
        }

    }
}